<section class="page-header">
  <div class="container" *ngIf="siteData">
    <h1>{{ siteData.about.title }}</h1>
    <p>{{ siteData.about.subtitle }}</p>
  </div>
</section>

<section class="about-content container" *ngIf="siteData">
  <div class="about-text">
    <p *ngFor="let desc of siteData.about.description" [innerHTML]="desc"></p>
  </div>

  <!-- <div class="stats-grid">
    <div *ngFor="let stat of siteData.about.stats" class="stat-card">
      <div class="stat-number">{{ stat.number }}</div>
      <p>{{ stat.label }}</p>
    </div>
  </div> -->
</section>

<section class="timeline-section container" *ngIf="siteData">
  <h2 class="section-title">{{ siteData.timeline.title }}</h2>
  <div class="timeline">
    <div *ngFor="let item of siteData.timeline.items" class="timeline-item">
      <div class="timeline-content">
        <span class="timeline-year">{{ item.year }}</span>
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>
</section>

<section class="values-section" *ngIf="siteData">
  <div class="container">
    <h2 class="section-title">{{ siteData.about.values.title }}</h2>
    <div class="values-grid">
      <div *ngFor="let value of siteData.about.values.items" class="value-card">
        <i [class]="value.icon + ' value-icon'"></i>
        <h3>{{ value.title }}</h3>
        <p>{{ value.description }}</p>
      </div>
    </div>
  </div>
</section>

<section class="team-section container" *ngIf="siteData">
  <h2 class="section-title mb-3">{{ siteData.about.team.title }}</h2>
  <p class="team-subtitle text-center" *ngIf="siteData.about.team.subtitle">
    {{ siteData.about.team.subtitle }}
  </p>
  <div class="team-grid">
    <div *ngFor="let member of siteData.about.team.members" class="team-member">
      <div class="team-avatar overflow-hidden">
        <img
          [src]="member.image"
          alt="{{ member.name }}"
          class="w-full h-full object-cover"
        />
      </div>
      <h3>{{ member.name }}</h3>
      <p style="color: var(--primary-accent); margin: 10px 0">
        {{ member.position }}
      </p>
      <p style="color: var(--text-muted); font-size: 0.9rem">
        {{ member.description }}
      </p>
    </div>
  </div>
</section>
