<article class="blog-detail container" *ngIf="post">
  <div class="blog-detail-header">
    <h1>{{ post.title }}</h1>
    <div class="blog-detail-meta">
      <span class="blog-category">{{ post.category }}</span>
      <span><i class="far fa-calendar"></i> {{ post.date }}</span>
      <span><i class="far fa-clock"></i> {{ post.readTime }}</span>
      <span><i class="far fa-user"></i> {{ post.author }}</span>
    </div>
  </div>
  <div class="blog-detail-image" [style.background-image]="'url(' + post.image + ')'"></div>
  <div class="blog-detail-content" [innerHTML]="post.content"></div>
  <div class="blog-detail-tags">
    <span *ngFor="let tag of post.tags" class="blog-tag">{{ tag }}</span>
  </div>
  <div class="blog-detail-footer">
    <a routerLink="/blog" class="btn btn-outline">← العودة للمدونة</a>
  </div>
</article>

