/* Import CSS files */
@import '../css/variables.css';
@import '../css/general.css';
@import '../css/animations.css';

/* Additional Angular-specific styles */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

